.wrapper {
    display: grid;
    width: 100px;
    height: 50px;
    grid-template-rows: repeat(2, 1fr);
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: auto;
    padding: 10px;
}

.label {
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
}
